
<nav class="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="logo3.png" id="img">
     
        </div>
        <ul>
            <li> <a  routerLink="/dashboard" routerLinkActive="active">DashBoard</a> | </li>
            <li> <a  routerLink="/query" routerLinkActive="active">Query Engine</a> | </li>
            <li> <a  routerLink="/analysis" routerLinkActive="active">Statistic Analysis</a></li>
            <!-- <li class="li2"><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li class="li2"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>  -->
        </ul>
    </div>
</nav>
<div class="header2"></div>

<router-outlet></router-outlet>