<div id="panel">
    <div id="buttonsgroup">
       
       <a id="btn" routerLink="/ipAttack" routerLinkActive="active" >Most Attacking IPs</a>
        <a id="btn" routerLink="/countryAttack" routerLinkActive="active">Most Attacking countries</a>
        <a id="btn" routerLink="/targetedService" routerLinkActive="active">Most Targeted Service</a>
        <a id="btn" routerLink="/targetedCountry" routerLinkActive="active">Most Targeted Countries</a>
    
    </div>
</div>
<br><br><br>
<div id="container">
<svg class="chart"></svg>
<div id="graph_title">
    <p>     Most Attacking Countries</p>
</div>
</div>