<div id="whole">
<div id="panel">

    <div id="buttonsgroup">

        <a id="btn" routerLink="/ipAttack" routerLinkActive="active">Most Attacking IPs</a>
        <a id="btn" routerLink="/countryAttack" routerLinkActive="active">Most Attacking countries</a>
        <a id="btn" routerLink="/targetedService" routerLinkActive="active">Most Targeted Service</a>
        <a id="btn" routerLink="/targetedCountry" routerLinkActive="active">Most Targeted Countries</a>
    </div>
</div>
<div id="globel_img">
    <div id="iconic"><img id="imgIcon" src="https://cdn3.iconfinder.com/data/icons/faticons/32/globe-01-512.png"></div>
    <div id="globel_threat"> Global Threats Analysis</div>
</div>


<div id="map"></div>

<div id="info_table"></div>

</div>